modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SmartEarnBot"

[[workflows.workflow]]
name = "SmartEarnBot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_IDS = "7077093393"
"REQUIRED_CHANNEL=" = "@verifiedearners11,@videoeditingclass11,@jambextensivestudies1,https://t.me/payout112,https://t.me/+wGwfkO0m-fVjYjc0,https://t.me/pornhub112167"

[nix]
channel = "stable-25_05"
